*.orig
*.pyc
*.dmp
*.sql
*.zip
/.settings
/.installed.cfg
/.idea/*
/.vscode/*
/venv/*
/python/*
/bin/*
/eggs/*
/parts/*
/media/*
/node_modules/*
.sublime-gulp.cache
/media.tar
/lsnab/settings.py
/lsnab/templates/service/500.html
/lsnab/templates/service/404.html
/lsnab/templates/service/robots.txt