{% extends 'pages/base.html' %}
{% load pages_tags custom_pages_tags base_tags %}

{% block article_selector %}list{% endblock %}

{% block content %}

    {% placeholder hide_from_sidebar with Checkbox as hide_from_sidebar %}
    {% placeholder hide_child_pages_from_sidebar with Checkbox as hide_child_pages_from_sidebar %}
    {% placeholder main_content with TinyMCE as main_content %}
    {% placeholder bottom_content with TinyMCE as bottom_content %}

    {% show_block_content main_content %}
	
    {% show_block_cards %}
    
	{% show_block_content bottom_content %}
{% endblock %}