{% load feedback_tags %}
<form action="{% url 'ajax_feedback' key=form.get_settings_key %}"
      method="post" id="id_feedback_form_{{ form.get_settings_key }}"
      class="feedback-form {{ form.get_settings_key }}" novalidate >

    {% csrf_token %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    {{ form.message_ }}

    <h3>{{ form.title }} </h3>

    <div class="form__row form__group" >
        <div class="form__col">
            {% for field in form %}
                {% show_field field set 1 %}
            {% endfor %}
        </div>
        <div class="form__col">
            {% for field in form %}
                {% show_field field set 2 %}
            {% endfor %}
        </div>

        <div class="form__col form__inline">
            {% for field in form %}
                {% show_field field set 3 %}
            {% endfor %}
        </div>

    </div>
    <div class="form__row form__submit">

        {% show_field form.captcha %}

        <span class="form__privacy">{{ chunks.privacy_policy.content }}</span>
        <input type="submit" class="btn" value="Отправить"/>
    </div>

</form>
