{% load static %}
{% if object_list %}
    <nav class="sidebar__menu">
        <ul>
        {% for object in object_list %}
            <li {% if object.current %}class="active"{% endif %}>
                {% if object.children %}
                    <div class="sidebar__item">
                        <a href="{{ object.get_absolute_url }}"><span>{{ object.title }}</span></a>
                        <div class="toggler "><img src="{% static 'img/icon-arrow-dark.svg' %}" alt="drop-icon"></div>
                        <a class="add-link" href="{{ object.get_absolute_url }}">&nbsp;</a>
                    </div>
                    <ul class="inner">
                        {% for child in object.children %}
                           <li><a href="{{ child.get_absolute_url }}"><span>{{ child.title }}</span></a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                     <div class="sidebar__item">
                        <a href="{{ object.get_absolute_url }}"><span>{{ object.title }}</span></a>
                        <a class="add-link" href="{{ object.get_absolute_url }}">&nbsp;</a>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </nav>
{% endif %}